[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
scrapy = "*"
scrapyd = "*"
python-scrapyd-api = "*"
pywin32 = "*"
scrapy-djangoitem = "*"
scrapy-splash = "*"
django-extensions = "*"
ipython = "*"
asgiref = "*"
apscheduler = "*"
pipenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
