[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
scrapy = "*"
scrapyd = "*"
python-scrapyd-api = "*"
scrapy-splash = "*"
django-environ = "*"
django-extensions = "*"
psycopg2 = "*"
apscheduler = "*"
scrapy-djangoitem = "*"

[dev-packages]

[requires]
python_version = "3.10"
